[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.3"
humanize = "4.10.0"
keyboard = "0.13.5"
pillow = "10.4.0"
pywin32 = "306"
pytesseract = "0.3.13"
aiohttp = "3.10.5"
aiofiles = "24.1.0"
pylint = "==3.2.6"

[dev-packages]

[requires]
python_version = "3.12"
