<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup</title>
</head>
<body>
    <h1>Setup Configuration</h1>
    <p style="background-color: blue;max-width: 500px;color:white;padding:5px;border-radius: 5px;">
🐈 Welcome to FakeRecall!
<br><br>
This is nikolan's recreation of Windows Recall in Python. It's fully open-source and locally hosted. AI may be dumb at times.
</p>
    <p style="background-color: red;max-width: 500px;color:white;padding:5px;border-radius: 5px;">
⚠️ Disclaimer
<br><br>
FakeRecall ("the software") is provided "as is" without warranties of any kind. We are not liable for any damages arising from its use, including the capture or misuse of screenshots containing sensitive information. The software may capture passwords, DRM-protected content, and copyrighted material.
<br><br>
By using FakeRecall, you agree to comply with all applicable laws. Your use of the software is at your own risk. We do not warrant it will be error-free or free from harmful components.
<br><br>
We are not affiliated with Microsoft. FakeRecall is licensed under GPLv3. By downloading, installing, or using the software, you acknowledge that you have read, understood, and agree to this disclaimer.
    </p>
    <form action="/setup" method="POST" style="background-color: green;max-width: 500px;color:white;padding:5px;border-radius: 5px;">
⚙️ Configuration
<br><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port"><br><br>
        <label for="interval">Interval (in seconds):</label>
        <input type="text" id="interval" name="interval"><br><br>
        <label for="accept_tos">Accept Disclaimer:</label>
        <input type="checkbox" id="accept_disc" name="accept_disc"><br><br>
        <button type="submit">Submit</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="background-color: rgb(17, 0, 255);max-width: 500px;color:white;padding:5px;border-radius: 5px;">
        ⛔ Issues
        <br><br>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
